@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


body{
    background-image: url('./images/filmes.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    max-width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px;
}

.logo {
    width: 12%;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 25px
}

li {
    cursor: pointer;
    transition: .2s;
    border-bottom: 2px solid transparent;
}

li:hover {
    transition: .2s;
    border-color: #ffffff;
}

.icons{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 20px;
    cursor: pointer;
    transition: .2s;
    padding: 12px;
    border-radius: 50%;
}

.icon:hover {
    transition: .2s;
    background-color: rgb(201, 22, 132);
}

.container {
    width: 100%;
    height: 80vh;
}

.title {
    width: 50%;
    height: 70%;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

button {
    width: 180px;
    height: 60px;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
    transition: .2s;
}

.btn1 {
    color: white;
    background-color: rgb(201, 22, 132);
    transition: .2s;
}

.btn1:hover {
    background-color: rgb(121, 16, 81);
    transition: .2s;
}

.btn2 {
    color: white;
    background-color: rgb(2, 16, 43);
    transition: .2s;
}

.btn2:hover {
    color: white;
    background-color: rgb(2, 12, 32);
    transition: .2s;
}